<!DOCTYPE HTML>
<html ng-app="todo">
<head>
    <title></title>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"
        type="text/javascript"></script>
    <script
         src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"
         type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script type="text/javascript"></script>
</head>
<body>
     <form name="reviewForm" ng-controller="EditController as editCtrl "ng-submit="editCtrl.edit()">
              <!--  Review Form -->
              <h4>Edit Task</h4> 
              <fieldset class="form-group">
               Task Description : <input ng-model="editCtrl.task" type="text" class="form-control" title="task" />
              </fieldset>
              <fieldset class="form-group">
               Scheduled Time  : <input ng-model="editCtrl.schedTime" type="text" class="form-control" title="schedTime" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
</body>
</html>

