<!DOCTYPE HTML>
<html ng-app="todo">
<head>
    <title></title>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"
        type="text/javascript"></script>
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"
        type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script type="text/javascript"></script>
</head>
<body>
     <form name="reviewForm" ng-controller="LoginController as loginCtrl" ng-submit="loginCtrl.getCred(product)">
              <!--  Review Form -->
              <h4>Login Credentials</h4>
              <fieldset class="form-group">
                Email    :<input ng-model="loginCtrl.email" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                Password :<input ng-model="loginCtrl.password" type="password" class="form-control" title="Password" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Login" />
              </fieldset>
          </form>
        <br><br>
        <h4>Don't Have an Account?</h4>
        <button onClick="location.href = '/static/register.html'">Register Now</button>

</body>
</html>

